.Youtube {
	.box {
		padding-bottom: 2rem;

		&:nth-of-type(even) {
			.innerBox {
				flex-direction: row-reverse;

				.picBox {
					transform: translateX(-20%);
				}
			}
		}
		.innerBox {
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding: 3rem 0px;
			border-top: 1px solid #888;
			border-bottom: 1px solid #888;
			transition: 0.5s;

			img {
				&:nth-of-type(1) {
					filter: blur(20px) saturate(1.3);
					opacity: 0;
				}
				&:nth-of-type(2) {
					filter: saturate(0);
				}
			}

			&:hover {
				transform: scale(1.02);
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

				img:nth-of-type(1) {
					opacity: 0.5;
					transform: translateY(5%);
				}

				img:nth-of-type(2) {
					filter: saturate(1);
				}
			}

			.titBox {
				width: 30%;
				font: 1.5rem 'Noto Sans', sans-serif;
			}
			.conBox {
				width: 35%;
				flex-wrap: wrap;
				font: 1rem 'Noto Sans', sans-serif;

				p {
					width: 100%;
					height: 100%;
					word-break: break-all;
				}
			}
			.picBox {
				width: 30%;
				height: 200px;
				position: relative;
				overflow: hidden;
				transform: translateX(20%);

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: absolute;
					top: 0;
					transform: scale(1.5);
				}
			}
		}
	}
}

.tablet,
.mobile {
	.Youtube {
		.box {
			flex-wrap: wrap;
			&:nth-of-type(even) {
				.innerBox {
					flex-direction: row;

					.picBox {
						transform: translateX(0%);
					}
				}
			}
			.innerBox {
				flex-wrap: wrap;
				.titBox {
					width: 48%;
				}
				.conBox {
					width: 48%;
				}
				.picBox {
					width: 100%;
					margin-top: 40px;
					transform: translateX(0%);
				}
			}
		}
	}
}

.mobile {
	.Youtube {
		.box {
			.innerBox {
				.titBox {
					width: 100%;
				}
				.conBox {
					width: 100%;
				}
			}
		}
	}
}
