.Members {
	.form {
		display: flex;
		justify-content: space-between;
		table {
			width: 60%;
			border: none;
			border: 2px solid #1d1d1d;

			th {
				width: 20%;
				border: none;
				border-bottom: 1px solid #1d1d1d;
				padding: 15px 30px;
				text-align: left;
				&:last-child {
					text-align: center;
					input[type='submit'],
					input[type='reset'] {
						border: 1px solid #1d1d1d;
						width: 150px;
						height: 30px;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						margin: 0px 10px;
						cursor: pointer;
					}
				}
			}
			td {
				border: none;
				border-bottom: 1px solid #1d1d1d;
				border-left: 1px solid #1d1d1d;
				padding: 15px 30px;

				input[type='text'],
				input[type='password'],
				textarea,
				select {
					width: 40%;
					border: 1px solid #1d1d1d;
					padding: 6px 10px;
					resize: none;
				}
				input[type='checkbox'],
				input[type='radio'] {
					margin-right: 20px;
					margin-left: 5px;
				}
				p {
					font: 0.8rem/1.2 '돋움';
					color: hotpink;
					margin-top: 5px;
				}
			}
		}
		tr {
			input[type='reset'],
			input[type='submit'] {
				background: #1d1d1d;
				color: #e1d6c4;
			}
		}
	}

	//tablet mediaquery
	.tablet,
	.mobile {
		.Members {
			table {
				td {
					input[type='text'],
					input[type='password'],
					textarea,
					select {
						width: 100%;
					}
				}
			}
		}
	}
	.rightBox {
		width: 40%;
		display: flex;
		text-align: center;
		flex-wrap: wrap;
		justify-content: center;

		.inner {
			width: 100%;
			height: 100%;
			background: #1d1d1d;

			.tit {
				font-size: 2rem;
				font-weight: bold;
				color: #e1d6c4;
				align-items: center;
			}

			.txt {
				font-size: 1rem;
				color: #e1d6c4;
				padding: 1rem;
				align-items: center;
			}
		}
	}
}

//tablet mediaquery
.mobile {
	.Members {
		table {
			th {
				display: none;
				&:last-child {
					display: block;
					width: 100%;

					input {
						width: 40%;
					}
				}
			}
			td {
				width: 100%;
				border-left: none;
				padding: 20px 0px;

				input[type='text'],
				input[type='password'],
				textarea,
				select {
					width: 100%;
				}
			}
		}
	}
}
