.header {
	width: 100%;
	padding: 4vh 10vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background: #1d1d1d;

	h1 {
		font-weight: bold;
		font-size: 1.4rem;
		color: #e1d6c4;
	}

	ul {
		display: flex;
		gap: 50px;
		align-items: center;

		li {
			color: #9d958a;

			a.active {
				color: #e1d6c4;
			}

			&:hover {
				transform: scale(1.05);
			}
		}
	}
	.bars {
		display: none;
	}
}

.tablet,
.mobile {
	.header {
		width: 80vw;
		ul {
			display: none;
		}
		.bars {
			display: block;
		}
	}
}
